.git
.env*
**/node_modules
**/.next
**/dist
**/.turbo
**/*.tsbuildinfo
**/*.spec.ts
**/*.test.ts
**/coverage
**/test-results
**/playwright-report
packages/database/src/generated
var
docs
tests
*.pem
*.key
*.p12
*.pfx
